.app-title{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100%;
}
.add-note{
    display: block;
}
.notecontainer{
    height: 100vh;
}
.notesTitle{
    position: fixed;
    top: 0;
}
.notesDiv{
    overflow: scroll;
    height: 100vh
}
.notesTitleSection::after{
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    right: 0;
    top: 0;
    background: rgba(204, 204, 204, 0.1);
}
@media all and (max-width: 767px){
    .app-title{
        display: block;
    }
    .add-note{
        display: flex;
        justify-content: space-between;
    }
    .add-note button{
        width: 50%;
    }
}