.note-card{
    border: 1px solid #ccc;
    border-radius: unset;
}

a:active{
    background: red;
}
button{
    width: 100%;
    text-align: left;
}
button:focus{
    background: #ccc;
    outline: none !important;
    box-shadow: none !important;
    border: none;
}